<h1 class="text-center"><%= @pet.name %> (<%= @pet.species %>)</h1>
<p class="text-center">Found: <%= @pet.found_days_ago %></p>

<div class="d-flex justify-content-center">
  <%= link_to "Back to lost pets", pets_path, class: "btn btn-light" %>
</div>
